<div>
    
    <h2>Login Page using Template Driven Form</h2>
    <form #loginRef = "ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>EmailId</label>
            <input type="email" name="email" ngModel required minlength="7" pattern="[a-z,0-9]+@[a-z,0-9]+.com"/>
            <div *ngIf="loginRef.controls['email']?.invalid && loginRef.controls['email']?.touched">
        <span [hidden]="!loginRef.controls['email'].hasError('required')" style="color:red">Email is required</span>
        <span [hidden]="!loginRef.controls['email'].hasError('minlength')" style="color:red">Email Id must be 7 character</span>
        <span [hidden]="!loginRef.controls['email'].hasError('pattern')" style="color:red">It must follow pattern</span>
            </div>
            <br/>
        <label>Password</label>
            <input type="password" name="pass" ngModel required/>
            <div *ngIf="loginRef.controls['pass']?.invalid && loginRef.controls['pass']?.touched">
                <span style="color:red">Password is requried</span>
            </div>
            <br/>
        <input type="submit" value="submit" [disabled]="loginRef.invalid"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span>
   
</div>