<div>
    
    <h2>Login Page using Template Driven Form</h2>
    <form #loginRef = "ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>EmailId</label>
            <input type="email" name="email" ngModel required/>
            <div *ngIf="loginRef.controls['email']?.invalid && loginRef.controls['email']?.touched">
                <span style="color:red">UserName is requried</span>
            </div>
            <br/>
        <label>Password</label>
            <input type="password" name="pass" ngModel required/>
            <div *ngIf="loginRef.controls['pass']?.invalid && loginRef.controls['pass']?.touched">
                <span style="color:red">Password is requried</span>
            </div>
            <br/>
        <input type="submit" value="submit" [disabled]="loginRef.invalid"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span>
   
</div>