.myClass1{
    background-color: chocolate;
    color: aliceblue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myClass2{
    background-color:yellow;
    color: aliceblue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}