<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletWithHibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductStoreController</display-name>
    <servlet-name>ProductStoreController</servlet-name>
    <servlet-class>com.controller.ProductStoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductStoreController</servlet-name>
    <url-pattern>/ProductStoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteController</display-name>
    <servlet-name>ProductDeleteController</servlet-name>
    <servlet-class>com.controller.ProductDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteController</servlet-name>
    <url-pattern>/ProductDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateController</display-name>
    <servlet-name>ProductUpdateController</servlet-name>
    <servlet-class>com.controller.ProductUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateController</servlet-name>
    <url-pattern>/ProductUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductController</display-name>
    <servlet-name>FindProductController</servlet-name>
    <servlet-class>com.controller.FindProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductController</servlet-name>
    <url-pattern>/FindProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetreiveProductDetails</display-name>
    <servlet-name>RetreiveProductDetails</servlet-name>
    <servlet-class>com.controller.RetreiveProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetreiveProductDetails</servlet-name>
    <url-pattern>/RetreiveProductDetails</url-pattern>
  </servlet-mapping>
</web-app>